body {
    background-color: black;
    color: white;
    a {
        text-decoration: none;
    }
    font-family: 'roboto';
}
header {
    min-width: 100%;
    padding: 1em;
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0, 0.5);
    nav {
        width: 1272px;
        .dropdown-div {
            display: none;
            span {
                display: none;
                transition: all 500ms ease-in-out;
                .fa-bars {
                    font-size: 2em;
                }
            }
            span:active + ul {
                transform: translateY(-50px);
                opacity: 0;
            }
            ul {
                position: absolute;
                top: 3.5em;
                font-size: 1em;
                display: flex;
                flex-direction: column;
                padding: 0;
                row-gap: 0.6em;
                text-transform: uppercase;
                transition: all 700ms ease-in-out;
                opacity: 1;
            }
        }
        h4 {
            margin: 0;
        }
        ul {
            margin: 0;
            padding: 0;
            a {
                padding-left: calc(3.01em / 2);
                padding-right: calc(3.01em / 2);
                padding-top: 0.6em;
                padding-bottom: 0.6em;
                color: #f8f8f8;
                text-decoration: none;
                transition: all 500ms ease-in-out;
                font-family: 'Gotu', sans-serif;
                font-size: calc(0.5rem + 1vw);
            }
            a:hover {
                transform: scale(1.1);
            }
        }
        img {
            max-width: 2.5rem;
            max-height: 2.5rem;
            transition: all 500ms ease-in-out;
        }
        img:hover {
            transform: scale(1.1);
        }
    }
}
main {
    display: flex;
    flex-direction: column;
    gap: 8em;
    .section-logo {
        padding: 0;
        max-width: 960px;
        .div-logo {
            margin-top: 3em;
            img {
                width: 100%;
            }
        }
    }
    // Photo boule de pâte et description du restaurant
    .section-info-description {
        //margin-top: 7em;
        max-width: 960px;
        .img-div {
            width: 50%;
            height: 400px;
            img {
                object-fit: cover;
                width: 100%;
                max-height: 400px;
            }
        }

        .div-info-description {
            width: 50%;
            padding: 0 0.5em 0 0.5em;

            h1 {
                text-align: center;
                color: #f69218;
                //font-family: 'Dancing Script', cursive;
                font-family: 'Gotu', sans-serif;
                font-weight: 400;
                margin: 0 0 0.5rem 0;
            }
            p {
                padding: 0 0.5rem 0 0.5rem;
                margin: 0;
                text-align: justify;
                font-family: 'Gotu', sans-serif;
            }
        }
    }
}

.slideshow-container {
    h2 {
        text-align: center;
        font-family: 'Gotu', sans-serif;
        font-size: 3em;
        color: #f69218;
    }
}

.slides {
    max-width: 700px;
    border: 1px solid white;
}

.slides img {
    width: 100%;
    transition: transform 0.5s ease;
}
.next {
    position: absolute;
    right: 3rem;
    color: white;
    background-color: black;
    border: none;
    font-size: 4em;
    background-color: transparent;
    transition: all 500ms ease-in-out;
}
.next:hover {
    transform: scale(1.3);
    color: #f69218;
}
.prev {
    position: absolute;
    left: 3rem;
    color: white;
    background-color: black;
    border: none;
    font-size: 4em;
    background-color: transparent;
    transition: all 500ms ease-in-out;
}
.prev:hover {
    transform: scale(1.3);
    color: #f69218;
}

// Points de pagination
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #bbb;
}

// Section contact coordonnés horaires plan google map
.open-access-section {
    width: 960px;
    //margin-top: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    h3 {
        text-align: center;
        font-family: 'Dancing Script', cursive;
        //font-family: 'Gotu', sans-serif;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        width: 70%;
        padding: 0.4rem;
    }
    article {
        width: 50%;
        h3 {
            margin-bottom: 1em;
        }
        a {
            color: white;
            text-align: center;
        }
        .fa-phone {
            margin-right: 0.5em;
            color: #f69218;
        }
        .fa-location-arrow {
            margin-right: 0.5em;
            color: #f69218;
        }
        .fa-envelope {
            margin-right: 0.5em;
            color: #f69218;
        }
        .fa-clock {
            font-size: 3em;
            margin-bottom: 0.3em;
            margin-top: 0.1em;
        }

        .open-div {
            margin-top: 1em;
            p {
                margin: 0;
            }
            span :nth-child(1) {
                color: #f69218;
            }
        }
    }

    .google-map-div {
        width: 50%;

        .google-map {
            width: 100%;
            height: 100%;
        }
    }
}

// Section Galery photo
.galery-section {
    h4 {
        //font-family: 'Dancing Script', cursive;
        font-family: 'Gotu', sans-serif;
        font-size: 3em;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        padding: 0.4rem;
        width: 100%;
        max-width: 960px;
    }
    .galery-div {
        img {
            width: 18em;
            height: 18em;
            object-fit: cover;
            border: 3px double #f69218;
            transition: all 500ms ease-in-out;
        }
        img:hover {
            border: 3px double white;
            transform: scale(1.1);
        }
    }
}

// FOOTER
footer {
    margin-top: 8em;
    height: 8rem;
    border-top: 1px solid white;
    p {
        font-family: 'Work Sans', sans-serif;
    }
}

.chevron-up {
    position: fixed;
    filter: brightness(0) invert(1);
    right: 30px;
    bottom: 30px;
    height: 4em;
    transition: 800ms ease-in-out;
}
.chevron-up:hover {
    transform: rotate(360deg);
    transition: transform 0.8s ease;
}

// Second caroussel de la Galerie photo
.carousel-container {
    position: fixed; /* Position fixe pour placer l'élément par-dessus les autres */
    top: 0;
    left: 0;
    width: 100%; /* Prend toute la largeur de la fenêtre */
    height: 100%; /* Prend toute la hauteur de la fenêtre */
    display: flex;
    justify-content: center;
    align-items: center;
    //z-index: 9999;
    background-color: black;
    .btn-close-carrousel {
        color: white;
        position: absolute;
        top: 1%;
        right: 1%;
        background-color: transparent;
        border: none;
        //z-index: 10000;
    }
    .carousel-content {
        //width: 100%;
        display: flex;
        justify-content: center;
    }

    .fa-rectangle-xmark {
        color: white;
        background-color: transparent;
        font-size: 2em;
    }
}

.link-img {
    //max-width: 50vh;
    max-width: 150vh;
    max-height: 95vh;
    object-fit: cover;
    border: 1px solid white;
}

.active {
    display: flex;
    justify-content: center;
}
.link-img-reduce {
    max-width: 960px;
    border: 1px solid white;
}

@media (max-width: 1024px) {
    header {
        nav {
            ul {
                a {
                    padding-left: 0;
                }
            }
        }
    }
    main {
        gap: 3em;
    }

    .open-access-section {
        flex-direction: column;
        align-items: center;
        width: 100%;
        article {
            width: 100%;
            div {
                width: 100%;
            }
        }
        .google-map-div {
            margin-top: 2em;
            width: 80%;
            height: 30vh;
        }
    }
    .next {
        right: 0.2px;
    }
    .prev {
        left: 0.2px;
    }
}
@media (max-width: 768px) {
    header {
        nav {
            padding: 0 4em 0 4em;
            .dropdown-div {
                display: block;
                span {
                    display: block;
                }
            }
            // h4 {
            //     display: none;
            // }
            .home-nav-ul {
                a {
                    display: none;
                }
            }
        }
    }
    .section-logo {
        margin-top: 2em;
    }
    .next {
        font-size: 2.2em;
        opacity: 0.7;
        color: white;
    }
    .prev {
        font-size: 2.2em;
        opacity: 0.7;
        color: white;
    }
    .section-info-description {
        justify-content: center;
        //width: 40em;
        //margin-top: 2em;
    }
    .carousel-container {
        height: 100%;
    }
    .div-info-description {
        min-width: 90%;
    }
    .img-div {
        display: none;
    }
    footer {
        margin-top: 5em;
    }
    .link-img {
        max-height: none;
        max-width: 100%;
    }
}
